body {
  font-size: 16px;
}

h1 {
  font-size: 34px;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 22px;
  margin-bottom: 0.7em;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
 
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.descr {
  text-align: right;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.27198%;
  margin-bottom: 0.7em;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
